* {
    box-sizing: border-box;
}
.field {
    background-color: #e9e9e9;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.excel {
    height: 50px;
    width: 50px;
    padding: 5px;
}



.mouse {
    border: 7px solid #e9e9e9;
    background: rgb(255, 124, 92);
    border-radius: 50%;
}
.snakeBody {
    border: 3px solid #e9e9e9;
    background: chartreuse;
    border-radius: 50%;
}
.head {
    background: green;
    border-radius: 35%;
}