body, html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 150vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #000;
}
.hero {
  width: 100vw;
  height: 900px;
  --y: 0px;
}
@media (min-width: 1500px) {
  .hero {
    height: 50vw;
  }
}
.hero img {
  width: 100%;
  height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (min-width: 1500px) {
  .hero img {
    height: 50vw;
  }
}
.hero .title {
  left: 50%;
  -webkit-transform: translate(-50%, 220px);
          transform: translate(-50%, 220px);
  font-size: calc(35px + 5vw);
  font-weight: bold;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 0px 0px 10px #000;
}
.hero .hero-item {
  position: absolute;
  will-change: transform;
}
.hero .hero-item:nth-child(1) {
  -webkit-transform: translateY(calc(var(--y) * -0.3));
          transform: translateY(calc(var(--y) * -0.3));
  z-index: 1;
}
.hero .hero-item:nth-child(2) {
  z-index: 2;
}
.hero .hero-item:nth-child(3) {
  -webkit-transform: translateY(calc(var(--y) * -0.6));
          transform: translateY(calc(var(--y) * -0.6));
  z-index: 3;
}
.hero .hero-item:nth-child(4) {
  z-index: 4;
}
.hero .parallax {
  position: fixed;
}
.blog-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200vh;
  padding: 50px;
  font-size: 50px;
  color: #fff;
  background-color: #000;
  box-shadow: 0px -30px 170px 80px #000;
  z-index: 4;
}
