html, body {
	margin: 0;
	padding: 0;
	
	
	
}
/* HTML5 display-role reset for older browsers */

 .first, .govno {
    
    height: 798px;
}
.item {
    height: 85%;
}
.row {
    height: 100%;
    margin: 0;
}
.first {
/* The image used */
color: whitesmoke;
    margin: -15px 0 0 0;
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    
    /* Half height */
   

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.btn1 {
    margin: 30px 0;
}
.purple {
    background-color: rgb(60, 0, 100, 0.75);
   
    z-index: 2;
    
}
h1 {
    margin: 50px;
}
.twot {
    
    height: 515px;
}
nav {
    margin: 15px 0;
    background: inherit;
    color: inherit;
    position: absolute;
    z-index: 3;
}
.trif {          
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");   
    /* Half height */
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    color: whitesmoke;

}
.haha {
    min-height: 640px;
   
}
.hoho {
    text-align: center;
    
}
.play {
    
   margin: 30px;
    
}
.n {
    display: inline-block;
    border: 4px solid whitesmoke;
    border-radius: 50%;
}
.bold-white {
    margin-top: 25px;
    color: whitesmoke;
    font-weight: bold; 
    font-size: 1.06em;
}
hr {
    width: 50px;
    height: 4px;
}
.four {
    background-color: white;
}
.four_col {
    padding: 0 30px;
}

.four_name {
    font-family: Roboto-Black, AdobeInvisFont, MyriadPro-Regular;
    font-size: 14pt;
    font-weight: bold;
    color: rgba(65, 61, 75, 255);
    margin-top: 35px;
    margin-bottom: 25px;
}
.font_description {
    font-family: ﻿Roboto-Light, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 14pt;
    color: rgba(51, 51, 51, 255);
}
.four_img {
    
}

.four_row1 {
    margin-bottom: 80px;
}

.four_row2 {
    margin-bottom: 100px;
}

.named {
    padding: 72px;
    font-family: PlayfairDisplay-Bold, AdobeInvisFont, MyriadPro-Regular;
    font-weight: 600;
    color: rgba(65, 61, 75, 255);
}

.named2 {
    padding-top: 70px;
    padding-bottom: 50px;
    font-family: PlayfairDisplay-Bold, AdobeInvisFont, MyriadPro-Regular;
    font-weight: 600;
    
}

.five_img {
    width: 100%;
}

.ptext {
    margin-top: -15px;
}

.five_footer {
    padding: 70px;
}


.five_col {
    display: inline-block;
    border: 2px solid slategrey;
}

.container-fluid {
    padding: 0;
}
.name-center {
    margin-top: 70px;
    margin-bottom: 70px;
}

.color1 {
    min-height: 200px;
    width: auto;
    background-color: #c7c7c7;
}
.color2 {
    min-height: 200px;
    width: auto;
    background-color: #7a7a7a;
}

.very-high-text {
    font-family: ﻿PlayfairDisplay-Regular, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 100pt;
    
}

.text {
    margin-top: -80px; 
    padding: 0 200px;
}

.margin50 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.carasel {
    min-height: 130px;
    padding-bottom: 50px; 
}
img {
    max-height: 100%;
}
.img {
    height: 45px;
    width: auto;
    margin: 0 5px;
}
.imglogo {
    height: 70px;
    margin: 20px 0;
}
.imgbig {
    height: 70px;
    width: auto;
}
.textop {
    margin-top: -15px;
}

.footer {
    padding: 70px 0;
}

.col_no_marg {
    padding: 0;
}

.my {
    margin: 70px 0;
}

.decor {
    position: relative;
    width: 90%;
    margin-top: 20px;
    background: white;
    border-radius: 30px;
}

.form-inner {padding: 10px 0;}
.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 5px 20px;
    margin-bottom: 25px;
    background: rgb(255, 255, 255);
    line-height: 40px;
    border-width: 0;
    border: 1px solid #cccccc;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

.form-inner textarea {resize: none;}

.tututu {
    font-family: ﻿PlayfairDisplay-Bold, ﻿AdobeInvisFont, ﻿MyriadPro-Regular;
    font-size: 22pt;
    color: rgba(65, 61, 75, 255);
}
.tututuk {
    margin-left: 45px;
    margin-bottom: 20px;
}

.btmmy {
    padding: 10px 40px;
}

.footerName {
    font-weight: bold;
    font-size: 11pt;
    color: rgba(255, 255, 255, 255);
    padding-top: 20px;
}

.text_logo {
    margin-top: 5px;
    margin-right: 15px;
}

.footer_mid {
    margin-top: 15px;
}

.wid90 {
    width: 90%;
}
.my_btn {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: rgb(255, 255, 255, 0.75);
    border: 1px solid rgb(255, 255, 255, 0.55);
    border-radius: 3px;
    transition: 0.3s ease;
}

.my_btn:hover {
    background-color: rgb(255, 255, 255, 0.5);
    color: rgb(0,0,0, 0.6);
    font-weight: bold;
    border: none;
}

.my_btn:active,
.my_btn:focus {
    outline: none;
}

.marg {
    margin-right: 10px;
}

.footer_ico {
    margin: 27px 0;
}

.footer_icons {
    margin-right: 8px;
}

.footer_link {
    margin-top: 30px;
    padding: 0 15px;
}

.footer_links {

    margin-right: 50px;
    color: whitesmoke;
    font-weight: 600;
}

.copyright {
    margin-left: auto;
}

@media (max-width: 575px) {
    .twot {
        min-height: 650px;
    }
}