@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("ttf"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("ttf"), url("../fonts/OpenSans/OpenSans-BoldItalic.ttf") format("ttf"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("ttf"), url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("ttf"), url("../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf") format("ttf"), url("../fonts/OpenSans/OpenSans-Italic.ttf") format("ttf"), url("../fonts/OpenSans/OpenSans-LightItalic.ttf") format("ttf"), url("../fonts/OpenSans/OpenSans-SemiboldItalic.ttf") format("ttf");
}

@font-face {
  font-family: "ALS Ekibastuz";
  src: url("../fonts/OpenSans/ALS Ekibastuz Regular.otf") format("opentype"), url("../fonts/OpenSans/ALS Ekibastuz Black.otf") format("opentype");
}

@font-face {
  font-family: "ALS Ekibastuz Black";
  src: url("../fonts/OpenSans/ALS Ekibastuz Black.otf") format("opentype");
}

@font-face {
  font-family: "ALS Ekibastuz Bold";
  src: url("../fonts/OpenSans/ALS Ekibastuz Bold.otf") format("opentype");
}

@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/2209.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  line-height: 1;
}

::-webkit-scrollbar {
  width: 7px;
  -webkit-transition: 0.3s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.font-reg {
  font-family: "Open Sans", sans-serif;
}

.font-light {
  font-family: "Open Sans Light", sans-serif;
}

.font-semi {
  font-family: "Open Sans Semibold", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
}

#mask {
  background-image: url("../img/litak2.gif");
  background-repeat: no-repeat;
}

.header {
  padding-top: 18px;
  -webkit-box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.15);
          box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.15);
  padding-bottom: 10px;
}

.header .text {
  font-size: 12px;
  font-family: "Open Sans Light", sans-serif;
}

.header .text .red {
  color: red;
}

.header .number {
  color: #375fba;
  font-size: 28px;
  text-align: center;
  font-family: "Open Sans Semibold", sans-serif;
}

.header .number img {
  padding-right: 10px;
}

.header .links {
  font-size: 20px;
  padding-top: 5px;
  font-family: "ALS Ekibastuz", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 47px;
}

.header .links .link {
  padding-bottom: 5px;
  color: #29439e;
}

.header .links .link a {
  text-decoration: none;
}

.header .links .link:hover {
  border-bottom: 5px solid #375fba;
  margin-bottom: -5px;
}

.header .logotip {
  padding-top: 16px;
  margin-bottom: -24px;
}

.big {
  position: relative;
}

.big .togfirst {
  background-image: url("../img/фон12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  -webkit-box-shadow: inset 2px 20px 15px -17px rgba(0, 0, 0, 0.25);
          box-shadow: inset 2px 20px 15px -17px rgba(0, 0, 0, 0.25);
  min-height: 770px;
}

.big .togfirst .container {
  position: relative;
}

.big .togfirst .container #fleft {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 43%;
  left: -8%;
}

.big .togfirst .container #fright {
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 43%;
  right: -4%;
}

.big .first {
  margin-top: 70px;
}

.big .first h3 {
  font-family: "Open Sans Semibold", sans-serif;
  font-size: 26px;
  margin-bottom: 20px;
  color: #29439e;
}

.big .first p {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.big .first input {
  background-image: url("../img/butimg.png");
  z-index: 1000;
  width: 297px;
  height: 70px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 30px;
  -webkit-box-shadow: 4px 6px 18px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 4px 6px 18px 0 rgba(0, 0, 0, 0.16);
}

.big .first .first-text {
  padding-left: 18px;
  padding-top: 100px;
}

.big .first-next {
  padding-top: 168px;
  font-size: 18px;
}

.big .first-next p {
  line-height: 1.14;
  font-family: "Open Sans Light", sans-serif;
  color: #171717;
  margin-bottom: 0.8rem;
}

.big .first-next p span {
  font-family: "Open Sans Semibold", sans-serif;
  color: #29439e;
}

.big .first-next input {
  background-image: url("../img/butimg.png");
  z-index: 1000;
  width: 297px;
  height: 70px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 30px;
  -webkit-box-shadow: 4px 6px 18px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 4px 6px 18px 0 rgba(0, 0, 0, 0.16);
}

.big .first-next .divbut {
  text-align: center;
}

.big .second {
  background-image: url("../img/фон.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 107px;
}

.big .second h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  line-height: 1;
  color: #29439e;
  margin-bottom: 20px;
  margin-left: 25px;
}

.big .second h2 span {
  font-family: "Open Sans Light", sans-serif;
}

.big .second p {
  margin-bottom: 0.58rem;
  font-size: 18px;
  font-family: "Open Sans Light", sans-serif;
  line-height: 1.4;
}

.big .second p img {
  padding-right: 10px;
}

.big .second h3 {
  font-family: "ALS Ekibastuz Black", sans-serif;
  font-size: 35px;
  font-weight: 900;
  line-height: 1;
  color: #3e4f8a;
  margin-bottom: 28px;
  margin-left: 25px;
}

.big .second h3 span {
  font-family: "ALS Ekibastuz", sans-serif;
}

.big .second h4 {
  font-size: 36px;
  font-family: "ALS Ekibastuz Regular", sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #29439e;
  max-width: 710px;
  text-align: center;
}

.big .second h4 span {
  font-weight: 300;
}

.big .second .sec-podname {
  color: #29439e;
  margin-bottom: 40px;
  margin-left: 28px;
}

.big .second .sec-podname span {
  color: #6e6e6e;
}

.big .second .yellow-left {
  margin-bottom: 40px;
  margin-top: 40px;
}

.big .second .yellow-left img {
  float: left;
  padding-top: 6px;
  padding-right: 25px;
}

.big .second .container {
  padding-left: 108px;
}

.big .second .key-box {
  position: relative;
  max-width: 1017px;
  margin: 0 auto;
  background-color: #ffffff;
  padding-left: 75px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 8px 8px 0px rgba(50, 50, 50, 0.25);
          box-shadow: 0px 8px 8px 0px rgba(50, 50, 50, 0.25);
}

.big .second .key-box img {
  position: absolute;
  top: 0;
  right: 4%;
  margin-top: -9px;
}

.big #lent {
  z-index: 10;
  position: absolute;
  top: 39.85%;
  left: 17%;
}

.three {
  background-image: url("../img/fon3next.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 35%;
  margin-top: -10px;
  padding-top: 100px;
  padding-bottom: 107px;
}

.three .container {
  padding-left: 108px;
}

.three h2 {
  font-size: 48px;
  color: #3e4f8a;
  margin-left: 28px;
  line-height: 1;
}

.three h4 {
  font-size: 36px;
  color: #29439e;
  margin-left: 28px;
  margin-bottom: 39px;
}

.three p {
  font-size: 18px;
  line-height: 1;
}

.three p img {
  padding-right: 12px;
}

.three h3 {
  font-size: 40px;
  color: #494949;
  margin-left: 28px;
  margin-top: 42px;
  line-height: 1.1;
}

.four {
  background-image: url("../img/fon4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 0%;
  padding-top: 55px;
  padding-bottom: 55px;
  z-index: 100;
  -webkit-box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.15);
          box-shadow: 0px 6px 8px 0px rgba(50, 50, 50, 0.15);
}

.four .container {
  padding-left: 108px;
}

.four h2 {
  font-size: 40px;
  font-family: "ALS Ekibastuz Bold", sans-serif;
  font-weight: 900;
  margin-left: 28px;
  margin-bottom: 30px;
  color: #3e4f8a;
}

.four p {
  font-size: 18px;
  font-family: "Open Sans Light", sans-serif;
}

.four p span {
  display: inline-block;
  margin-top: 9px;
  padding-left: 28px;
}

.four p img {
  padding-right: 12px;
}

.four .servises {
  margin-top: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.four .servises h3 {
  font-family: "ALS Ekibastuz Bold", sans-serif;
  color: #3e4f8a;
  font-size: 55px;
  padding-left: 28px;
  margin-bottom: 15px;
}

.four .servises h4 {
  font-size: 20px;
  padding-left: 28px;
  margin-bottom: 35px;
  font-family: "Open Sans", sans-serif;
  color: #232323;
}

.four .servises p {
  font-size: 16px;
}

.four .servises-dev {
  margin-right: 50px;
}

.five {
  background-image: url("../img/fon5.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 2px 16px 20px -17px rgba(0, 0, 0, 0.2);
          box-shadow: inset 2px 16px 20px -17px rgba(0, 0, 0, 0.2);
}

.five .container {
  padding: 0 90px;
  position: relative;
}

.five .container .comments {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 6px 14px -2px rgba(67, 50, 50, 0.35), inset 2px 16px 19px -12px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 6px 14px -2px rgba(67, 50, 50, 0.35), inset 2px 16px 19px -12px rgba(0, 0, 0, 0.2);
  padding: 50px 40px;
}

.five .container .comments h2 {
  font-size: 43px;
  margin-bottom: 35px;
}

.five .container .comments .slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.five .container .comments .slider-item .text {
  overflow-y: scroll;
  height: 573px;
  font-size: 13px;
  width: 70%;
  line-height: 1.6;
  margin-right: 30px;
  padding-right: 10px;
  color: #353535;
  border-bottom: 6px solid rgba(238, 238, 238, 0.2);
}

.five .container .comments .slider-item .info {
  width: 30%;
}

.five .container .comments .slider-item .info .friend-logo {
  margin-bottom: 27px;
}

.five .container .comments .slider-item .info .friend-name {
  font-size: 26px;
  color: #2f2f2f;
}

.five .container .comments .slider-item .info .friend-text {
  font-size: 19px;
  line-height: 1.2;
  color: #696969;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.five .container .comments .slider-item .info .friend-textb {
  line-height: 1.2;
  margin-bottom: 35px;
  font-size: 15px;
  color: #3e4f8a;
  font-family: "Open Sans Light", sans-serif;
}

.five .container .comments .slider-item .info .friend-textb span {
  font-family: "Open Sans Bold", sans-serif;
}

.five .container .comments .slider-item .info .friend-imgdesc {
  margin-top: 10px;
  font-size: 18px;
  color: #202020;
}

.five .container .comments .slider-item .info .friend-imgdesc span {
  font-size: 16px;
  color: #2f2f2f;
}

#oleft {
  position: absolute;
  top: 50%;
  left: 2%;
}

#oright {
  position: absolute;
  top: 50%;
  right: 2%;
}

.six {
  background-image: url("../img/s4.png");
  background-repeat: no-repeat;
  background-position: 29% 90%;
  padding-bottom: 250px;
}

.six h2 {
  text-align: center;
  font-size: 48px;
  color: #3e4f8a;
  padding-top: 60px;
  margin-bottom: 60px;
}

.six h2 .item:hover {
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
}

.six .sliderimg {
  position: relative;
}

.six .sliderimg #left {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.six .sliderimg #right {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.seven {
  background-image: url("../img/fon7.png");
  background-repeat: no-repeat;
  background-position-y: 36%;
  margin-top: 70px;
}

.seven form {
  margin-left: 5px;
  padding-left: 104px;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 14px 0px rgba(67, 50, 50, 0.25);
          box-shadow: 1px 2px 14px 0px rgba(67, 50, 50, 0.25);
}

.seven h3 {
  font-size: 34px;
  color: #28a93a;
  margin-bottom: 33px;
}

.seven .input-name {
  color: #5b5b5b;
  font-size: 16px;
  font-family: "Open Sans Light", sans-serif;
}

.seven input[type="text"] {
  width: 400px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
}

.seven input[type="button"] {
  background-image: url("../img/butimg.png");
  width: 297px;
  height: 70px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 30px;
  -webkit-box-shadow: 4px 6px 18px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 4px 6px 18px 0 rgba(0, 0, 0, 0.16);
}

.seven .checkbox-name {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #29439e;
  line-height: 1.4;
}

.seven .checkbox {
  font-size: 14px;
  color: #28a93a;
  line-height: 1.6;
}

.eight {
  background-image: url("../img/fon8.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.eight h2 {
  font-family: "ALS Ekibastuz Bold", sans-serif;
  font-size: 48px;
  color: #3e4f8a;
  padding-left: 100px;
  margin-bottom: 50px;
}

.eight h2 span {
  font-family: "ALS Ekibastuz", sans-serif;
}

.eight p {
  font-size: 19px;
  line-height: 1.4;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 15px;
}

.eight input {
  background-image: url("../img/butimg.png");
  width: 297px;
  height: 70px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 90px;
  margin-left: 193px;
  -webkit-box-shadow: 4px 6px 18px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 4px 6px 18px 0 rgba(0, 0, 0, 0.16);
}

.footer {
  padding: 10px 0;
  color: #ffffff;
  background-color: #375fba;
}

.footer p {
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 6px;
}

.footer .phone {
  margin-top: 10px;
  font-size: 27px;
}

.footer .vhod {
  margin-top: 15px;
}

.footer .row {
  padding-top: 10px;
}

.footer .email {
  float: right;
  padding-top: 5px;
  padding-right: 8px;
  font-size: 20px;
}
/*# sourceMappingURL=main.css.map */